%h1
	Your Account


%h2
	Account name:
	=@account.name


%h2 Elements belonging to this Account
%div
	= pluralize @account.elements.size, 'element'
- if @account.elements.any?
	%ul
		- @account.elements.each do |element|
			%li= element.name

= link_to "Element list", elements_path